.page {
  font-family: Inter, Arial, sans-serif, "Times New Roman", Times, serif;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
  margin: auto;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}
