.popup__title-edit {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin-bottom: 48px;
}

@media (max-width: 1279px) {
  .popup__title-edit {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
